@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-align: border-box;
}


/* -------------- CABECALHO -------- */
header {
    background-color: ffffff;
    height: 150px;
}

.container_cab{
    width: 100%;
    margin: 0 auto;
}

.posicionamento_header{
    width: 97%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pesquisa{
    background-color: rgb(238, 235, 235);
    width: 250px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

#entrada{
    background-color: rgb(238, 235, 235);
    padding: 0 0 0 10px;
    width: 180px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    font-size: 11pt;
}

.pesquisa img{
    height: 15px;
}

.pesquisa768{
    display: none;
}

.menu{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative
}

.menu a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.menu a:hover{
    color: white;
    background-color: rgba(190, 8, 8, 0.9);
    border-radius: 3px;
    padding: 8px;
    font-size: 16px;
}

.sub_categoria{
    display: none;
}

.jogos{
    display: none;
}

.menu_sub_categoria{
    background-color: rgba(190, 8, 8, 0.9);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 215px;
    height: 230px;
    padding: 10px;
    padding-left: 33px;
    position: absolute;
    top: 96px;
    left: 533px
}

.menu_sub_categoria a{
    text-decoration: none;
    color: white;
    font-family: "roboto";
    font-size: 18pt;
}

.menu_sub_categoria a:hover{
    border-radius: 10px;
    padding: 8px;
    font-size: 17pt;
    border-style: solid;
    border-color: white;
} 

.menu_jogos{
    background-color: rgba(190, 8, 8, 0.9);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 320px;
    height: 250px;
    padding: 10px;
    padding-left: 33px;
    position: absolute;
    top: 96px;
    left: 345px;
}

.menu_jogos a{
    text-decoration: none;
    color: white;
    font-family: "roboto";
    font-size: 18pt;
}

.menu_jogos a:hover{
    border-radius: 10px;
    padding: 8px;
    font-size: 17pt;
    border-style: solid;
    border-color: white;
} 

.barras {
    width: 30px;
    display: none;
}


/* --------- NOVIDADE ---------------- */

.cont_novidade_1{
    display: none;
}

.cont_novidade_2{
   display: none;
}

.cont_novidade_3{
    display: none;
}

.Cont_novidade_4{
    display: none;
}
.titulo{
    width: 94%;
    height: 60px;
    margin: 0 auto;
    font-family: "roboto";
    font-size: 20pt;
    color: gray;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.cont_novidade{
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col1{
    width: 53%;
    height: 332px;
    background-image: url(../img/cat/novidade1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.novidade{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.novidade p{
    font-family: "roboto";
    font-size: 18pt;
    font-weight: bolder;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 15px;
}

.novidade a{
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.novidade p:hover{
    background-color:yellowgreen;
    font-size: 17pt;
}

.col2{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "roboto";
    font-size: 14pt;
    line-height: 35px;
    text-align: justify;
}

.col2 img{
    width: 100%;
}

.col3{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "roboto";
    font-size: 14pt;
    line-height: 35px;
    text-align: justify;
}

.col3 img{
    width: 100%;
}

.cont_novidade_1{
    display: none;
}

.Cont_novidade_2{
    display: none;
}

.line{
    display: none;
}

/* -------- CARDS ---------- */

.cont_cards{
    width: 94%;
    height: 260px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cont_cards img{
    width: 23%;
}


/* --------- RODAPE -----------*/
.rodape{
    margin: 0 auto;
    width: 95%;
    height: 320px;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
}

.container_rodape {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container_rodape a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-size: 14pt;
}

.container_rodape a:hover{
    color: rgb(87, 78, 78);
}

.como_chegar{
    width: 29%;
    height: 80%;
    font-family: 'Roboto';
    font-size: 14pt;
    font-weight: bold;
}

.coluna_2 {
    width: 13%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.coluna_3 {
    width: 15%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.coluna_4 {
    width: 13%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.coluna320px{
    display: none;
    
}

.redes_sociais1{
    display: none;
}

.local{
    display: none;
}

.redes_sociais{
    width: 100%;
    background-color: rgb(209, 212, 211);
    border-radius: 15px;
    padding: 5px 0 0 0;
}

.redes_sociais p{
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-size: 11pt;
    display: flex;
    justify-content: center;
}

.redes_sociais img{
    width: 45%;
    margin-top: 10px;
}

.redes_sociais img:hover{
    width: 43%;
    margin-top: 10px;
}

.copyh{
    font-size: 12px;
    font-family: 'Roboto';
    text-align: center;
}




@media screen and (max-width: 1360px) {

    .container_cab{
        width: 97%;
        margin: 0 auto;
    }

    /* .banner{
        background-image: url(../img/banner_1360px.png);
    } */
    
    .menu{
        width: 700px;
    }

    .menu a{
        font-size: 16px;
    }

    .container_rodape a{
        font-size: 12pt;
    }

    .como_chegar{
        font-size: 12pt;
    }
    
    .coluna_3 {
        width: 16%;
    }
}



@media screen and (max-width: 1100px) {

    .logo{
        width: 210px;
    }

    /* .banner{
        background-image: url(../img/banner_1100px.png);
    } */
    
    .menu{
        width: 700px;
    }

    .menu a{
        font-size: 13px;
    }

    .pesquisa{
        width: 180px;
    }
    
    #entrada{
        width: 110px;
        height: 30px;
        font-size: 10pt;
    }

    .containergeral{
        width: 97%;
        height: 150px;
    }   
    
    .container {
        height: 130px;
    }

    .container_relacionamentos{
        font-size: 11pt;
    }
    
    .container_relacionamentos img{
        width: 100px;
    }    
    
    .texto p{
        width: 210px;
        font-size: 11pt;
    }    
    
    .container_rodape a{
        font-size: 10pt;
    }

    .como_chegar{
        font-size: 10pt;
    }

    
    .coluna_2 {
        width: 16%;
    }
    
    .coluna_3 {
        width: 16%;
    }
    
    .coluna_4 {
        width: 18%;
    }
}




@media screen and (max-width: 768px) {
    
    .espaco1{
        display: none;
    }
    
    .posicionamento_header{
        justify-content: space-around;
    }
    
    .logo{
        width: 300px;
    }

    .menu{
        display: none;
    }

    .menu-ativo{
        background-color: rgba(190, 8, 8, 0.9);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 10px;
        width: 215px;
        height: 230px;
        padding: 10px;
        padding-left: 33px;
        position: absolute;
        top: 112px;
        right: 87px
    }

    .menu-ativo a:hover{
        border-radius: 10px;
        padding: 8px;
        font-size: 13pt;
        border-style: solid;
        border-color: white;
    } 

    .menu-ativo a{
        color: white;
        font-size: 15pt;
    }

    .barras{
        display: inline-block;
        width: 120px;
        position: relative;
    }

    .pesquisa{
        display: none;
    }

    .pesquisa768{
        margin: 0 auto;
        margin-bottom: 25px;
        display: inline-block;
        background-color: rgb(238, 235, 235);
        width: 580px;
        height: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
    }
    
    #entrada768{
        background-color: rgb(238, 235, 235);
        padding: 0 0 0 10px;
        width: 475px;
        height: 30px;
        border-radius: 10px;
        border-style: none;
        font-size: 11pt;
    }
    
    .pesquisa768 img{
        height: 15px;
    }

/* --------- NOVIDADE ---------------- */

.titulo{
    width: 94%;
    height: 60px;
    margin: 0 auto;
    font-family: "roboto";
    font-size: 20pt;
    color: gray;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.line{
    display: block;
    width: 94%;
    margin: 0 auto;
}

.cont_novidade{
    display: none;
}

.cont_novidade_1{
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col1_1{
    width: 100%;
    height: 332px;
    background-image: url(../img/cat/novidade1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.novidade_1{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.novidade_1 p{
    font-family: "roboto";
    font-size: 18pt;
    font-weight: bolder;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 15px;
}

.novidade_1 a{
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.novidade_1 p:hover{
    background-color:yellowgreen;
    font-size: 17pt;
}

.Cont_novidade_2{
    width: 85%;
    height: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col2_1{
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "roboto";
    font-size: 13pt;
    line-height: 35px;
    text-align: justify;
}

.col2_1 img{
    width: 100%;
}

.col3_1{
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "roboto";
    font-size: 13pt;
    line-height: 35px;
    text-align: justify;
}

.col3_1 img{
    width: 100%;
}


/* -------- CARDS ---------- */

.cont_cards{
    width: 85%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cont_cards img{
    width: 47%;
}

/* ---- Rodape ----- */

    .rodape{
        height: 400px;
    }

    .coluna_2 {
        width: 33%;
        align-items: center;
        font-size: 15pt;
    }
    
    .coluna_3 {
        width: 33%;
        align-items: center;
        font-size: 15pt;

    }
    
    .coluna_4 {
        width: 33%;
        height: 50%;
        align-items: center;
        font-size: 15pt;
    }
    
    .mapa{
        display: none;
    }

    .como_chegar{
        display: none;
    }
    
    .local{
        display: inline-block;
        margin-top: 10px;
        color: black;
        font-family: "Roboto";
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    .redes_sociais{
        display: none;
    }

    .redes_sociais1{
        margin-top: 20px;
        display: inline-block;
        font-family: "Roboto";
        font-size: 10pt;
        text-align: center;
    }

    .redes_sociais1 img{
        width: 80px;
        margin-top: 10px;
    }

    .copyh{
        font-size: 10px;
        margin: 0 auto;
        width: 94%;
        display: flex;
        justify-content: center;
    }

}




@media screen and (max-width: 700px) {
    
    .banner{
        background-image: url(../img/banner_700px.png);
    }

    
    .novidade {
        width: 280px;
        height: 200px;
    }
    
    .retro {
        width: 280px;
        height: 200px;
    }
    
    .famoso {
        width: 280px;
        height: 200px;
    }
    
    .dicas {
        width: 280px;
        height: 200px;
    }
}
   
   
 @media screen and (max-width: 600px) {
    
    .banner{
        background-image: url(../img/banner_600px.png);
    }
    
    .pesquisa768{
       width: 500px;
    }
    
    #entrada768{
        width: 450px;
    }
        
}




@media screen and (max-width: 500px) {

    .banner{
        background-image: url(../img/banner_500px.png);
    }
    
    .logo{
        width: 250px;
    }

    .barras{
        width: 90px;
    }

    .pesquisa768{
        width: 300px;
    }
     
     #entrada768{
         width: 250px;
    }
 
     .containergeral{
        height: 900px;
    }

    .container_relacionamentos{
        width: 70%;
        height: 250px;
        font-size: 9pt;
    }
    
    .container_relacionamentos img{
        width: 80px;
    }
}




@media screen and (max-width: 320px) {
    
    header {
        height: 120px;
    }

    .logo{
        width: 210px;
    }

    .barras{
        width: 70px;
    }

    .pesquisa768{
        width: 300px;
    }
     
     #entrada768{
         width: 250px;
    }

    .menu-ativo{
        background-color: rgba(190, 8, 8, 0.9);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 190px;
        height: 230px;
        padding: 10px;
        padding-left: 33px;
        position: absolute;
        top: 100px;
        right: 12px
    }

    .menu-ativo a{
        color: white;
        font-size: 12pt;
    }

    .menu-ativo a:hover{
        border-radius: 10px;
        padding: 8px;
        font-size: 11pt;
        border-style: solid;
        border-color: white;
    } 

/* --------- NOVIDADE ---------------- */

.titulo{
    width: 94%;
    height: 60px;
    margin: 0 auto;
    font-family: "roboto";
    font-size: 15pt;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    display: block;
    width: 94%;
    margin: 0 auto;
}

.cont_novidade_1{
    display: none;
}

.Cont_novidade_2{
    display: none;
}

.cont_novidade_3{
    display: inline-block;
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col1_2{
    width: 100%;
    height: 245px;
    background-image: url(../img/cat/novidade1.png);
    background-repeat: no-repeat;
    background-size: 500px;
}

.novidade_2{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
}

.novidade_2 p{
    font-family: "roboto";
    font-size: 12pt;
    font-weight: bolder;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 10px;
}

.novidade_2 a{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.novidade_2 p:hover{
    background-color:yellowgreen;
    font-size: 11pt;
}

.Cont_novidade_4{
    width: 85%;
    height: 478px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col2_2{
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "roboto";
    font-size: 13pt;
    line-height: 35px;
    text-align: justify;
}

.col2_2 img{
    width: 100%;
}

/* -------- CARDS ---------- */

.cont_cards{
    width: 85%;
    height: 730px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cont_cards img{
    width: 100%;
}

    .container_rodape{
        display: none;
    }

    .coluna320px{
        width: 182px;
        height: 340px;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
        display:inline-block;
        font-family: "Roboto";
    }

    .coluna320px a{
        text-decoration: none;
        color: black;
    }

    .rodape{
        height: 516px;
    }
}